* {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.explore-video-div {
    text-align: center;
    height: auto;

}

.explore-video
{
    height: 90vh; min-height: 90%;
    width: 100%;
}

h2{
    text-align: center;
}